{
  "name": "youtube-tiktok-downloader",
  "version": "1.0.0",
  "description": "YouTube and TikTok Downloader Web App",
  "main": "main.js",
  "dependencies": {
    "express": "^4.17.1",
    "youtube-dl-exec": "^1.0.3"
  }
}
